* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    }

html {
    font-size: 62.5%;
    font-family: sans-serif;
    margin: 1rem 5rem;
    }


.flex{
    display: flex;
    justify-content: center;
    align-items: center;

    &.col {
        flex-flow: column;
    }
}

.grid {
    display:grid;
    &.col {
        grid-auto-flow: column;
    }
}

body {
    grid-template-rows: 1fr 3fr;
    & header{
        background-color: rgb(8, 8, 117);
        color: white;
        border-radius: 0.5rem;
        font-size: 2.4rem;
        font-weight: 200;
        max-height: max-content;
        padding: 2rem;
        overflow: hidden;

        & .cabecalho{
            justify-content: space-between;
           
            & .containerBtn{
               align-items: center;
                & .btn{
                    padding: 2.4rem 1rem;
                    font-style: none;
                    font-size: 1.8rem;
                    background-color: inherit;
                    border: none;
                    color:inherit;
                    cursor: pointer;
                    transition: background-color 0.2s, color 0.15s;
    
                    &:hover, &:active, &:focus{
                        background-color: rgb(21, 21, 212);
                    }
    
                    &:link, &:visited{
                        text-decoration: none;
                    }
                }
            }
        }
    }

    & main {

        grid-template-columns: 1fr 2.4fr;

        & .filtros{
            & .buscas{
                margin: 2rem 0;
                font-size:1.8rem;
                width: 25%;

                & .titulo{
                    margin-bottom: 2rem;
                    font-weight: bold;
                }
                & input {
                    font-size:1.6rem;
                    padding:0.3rem;
                    border-radius: 0.4rem;
                    margin-top: 0.5rem;
                    margin-bottom: 1.5rem;
                }
                & button {
                    margin-top: 1.8rem;
                    border-radius: 0.6rem;
                    width: 12rem;
                    height:4rem;
                    font-size: 1.8rem;
                    font-weight: bold;
                    cursor: pointer;
                    transition: background-color 0.15s, color 0.15s;

                    &:hover, &:active{
                        background-color: rgb(21, 21, 212);
                        color:white;
                    }
                }
            }
        }


        & .tabela-secao {

            margin: 1.8rem 0;

            & .container {
                display: block;
                overflow: scroll;
                overflow-x: auto;
                border-radius: 8px; 
                max-height: 50rem;
                width: 100%;
                border: 0.1rem solid grey;
                box-shadow: 1rem;

                & .tabela {
                    width: 100%; 
                    max-height: 50rem;
                    border-collapse: collapse; 
                    table-layout: auto;
                    font-size: 1.4rem;
                    background-color: #ffffff18;
                    padding: 0.35rem;
                    
                    & td, & th {
                        border: 1px solid grey; 
                        text-align: center;
                        padding: 0.35rem;
                    }

                    & thead {
                        width: 100%;

                        & th {
                        font-size: 1.4rem;
                        font-weight: bold;
                        background-color: grey;
                        color: white;
                        }
                    }

                    & tbody th {
                        font-size: 1.6rem;
                        font-weight: bold;
                        transform: translateY(0.15rem);
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    main {
        grid-template-areas: "a a"
                             "b b";
        
        & .filtros{
            grid-area: a;
            & .buscas {
                font-size: 1.4rem;
            }
        }
        
        & .tabela-secao {
            grid-area: b;
        }
    }
}